Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-05-08 14:45:49--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.200.53
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.200.53|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  56.8MB/s    in 3.4s

2020-05-08 14:45:53 (56.8 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [4]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [5]:
import pandas as pd
import numpy as np
import os

csv_list =[]
names_list =[]

split_me = lambda string, split_item : string.split(split_item, 1)

def remove_ext(X):
  split_me(X, ".")
  substring = split_me(X, ".")[0]
  return substring

#remove_ext('test.csv')

directory = '/content/instacart_2017_05_01'
# Too lazy to write everything, using loop
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
      if filename.startswith('._'):
        pass
      else:
        csv_list.append(filename)
        names_list.append(remove_ext(filename))
        continue
    else:
      pass

print(csv_list)
print(names_list)

['order_products__prior.csv', 'order_products__train.csv', 'aisles.csv', 'products.csv', 'departments.csv', 'orders.csv']
['order_products__prior', 'order_products__train', 'aisles', 'products', 'departments', 'orders']

In [6]:
df = []

for x in csv_list:
  for y in names_list:
    if remove_ext(x) == y:
      df.append(pd.read_csv('/content/instacart_2017_05_01/' + x))
    else:
      pass

print(df)

[          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns],          order_id  product_id  add_to_cart_order  reordered
0               1       49302                  1          1
1               1       11109                  2          1
2               1       10246                  3          0
3               1       49683                  4          0
4               1       43633                  5          1
...           ...         ...                ...        ...
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[1384617 rows x 4 columns],      aisle_id                       aisle
0           1       prepared soups salads
1           2           specialty cheeses
2           3         energy granola bars
3           4               instant foods
4           5  marinades meat preparation
..        ...                         ...
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes

[134 rows x 2 columns],        product_id  ... department_id
0               1  ...            19
1               2  ...            13
2               3  ...             7
3               4  ...             1
4               5  ...            13
...           ...  ...           ...
49683       49684  ...             5
49684       49685  ...             1
49685       49686  ...             3
49686       49687  ...             8
49687       49688  ...            11

[49688 rows x 4 columns],     department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing,          order_id  user_id  ... order_hour_of_day  days_since_prior_order
0         2539329        1  ...                 8                     NaN
1         2398795        1  ...                 7                    15.0
2          473747        1  ...                12                    21.0
3         2254736        1  ...                 7                    29.0
4          431534        1  ...                15                    28.0
...           ...      ...  ...               ...                     ...
3421078   2266710   206209  ...                18                    29.0
3421079   1854736   206209  ...                10                    30.0
3421080    626363   206209  ...                12                    18.0
3421081   2977660   206209  ...                12                     7.0
3421082    272231   206209  ...                14                    30.0

[3421083 rows x 7 columns]]

In [7]:
print(len(df))
df[1]

6

         order_id  product_id  add_to_cart_order  reordered
0               1       49302                  1          1
1               1       11109                  2          1
2               1       10246                  3          0
3               1       49683                  4          0
4               1       43633                  5          1
...           ...         ...                ...        ...
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[1384617 rows x 4 columns]

In [8]:
df[2]

     aisle_id                       aisle
0           1       prepared soups salads
1           2           specialty cheeses
2           3         energy granola bars
3           4               instant foods
4           5  marinades meat preparation
..        ...                         ...
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes

[134 rows x 2 columns]

In [9]:
df[3]

       product_id  ... department_id
0               1  ...            19
1               2  ...            13
2               3  ...             7
3               4  ...             1
4               5  ...            13
...           ...  ...           ...
49683       49684  ...             5
49684       49685  ...             1
49685       49686  ...             3
49686       49687  ...             8
49687       49688  ...            11

[49688 rows x 4 columns]

In [10]:
df[4]

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

In [11]:
df[5]

         order_id  user_id  ... order_hour_of_day  days_since_prior_order
0         2539329        1  ...                 8                     NaN
1         2398795        1  ...                 7                    15.0
2          473747        1  ...                12                    21.0
3         2254736        1  ...                 7                    29.0
4          431534        1  ...                15                    28.0
...           ...      ...  ...               ...                     ...
3421078   2266710   206209  ...                18                    29.0
3421079   1854736   206209  ...                10                    30.0
3421080    626363   206209  ...                12                    18.0
3421081   2977660   206209  ...                12                     7.0
3421082    272231   206209  ...                14                    30.0

[3421083 rows x 7 columns]

In [12]:
df[0]

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [13]:
df_new = pd.concat([df[3], df[0]])
df_new

          product_id  ... reordered
0                  1  ...       NaN
1                  2  ...       NaN
2                  3  ...       NaN
3                  4  ...       NaN
4                  5  ...       NaN
...              ...  ...       ...
32434484       39678  ...       1.0
32434485       11352  ...       0.0
32434486        4600  ...       0.0
32434487       24852  ...       1.0
32434488        5020  ...       1.0

[32484177 rows x 7 columns]

Banana
Bag of Organic Bananas
Organic Strawberries
Organic Baby Spinach 
Organic Hass Avocado
Organic Avocado
Large Lemon 
Strawberries
Limes 
Organic Whole Milk

In [14]:
df_new.loc[0]

   product_id                product_name  ...  add_to_cart_order  reordered
0           1  Chocolate Sandwich Cookies  ...                NaN        NaN
0       33120                         NaN  ...                1.0        1.0

[2 rows x 7 columns]

In [0]:
order_this = ['Banana', 
              'Bag of Organic Bananas', 
              'Organic Strawberries', 
              'Organic Baby Spinach' , 
              'Organic Hass Avocado', 
              'Organic Avocado', 
              'Large Lemon' , 
              'Strawberries', 
              'Limes' , 
              'Organic Whole Milk']

search_product = lambda x : df_new['product_name'].str.match(x)
#multidimentional architecture?
def re(x):
  for index, y in enumerate(x):
    if y == True:
     # print(index)
      print(y)
      print(df_new.loc[index])
      #print(df_new.loc[reordered)
    else:
      pass
#print(re(search_product('Bag of Organic Bananas')))

In [20]:
for z in order_this:
  pd.set_option('display.max_columns', None)
  re(search_product(z))

True
    product_id                                   product_name  aisle_id  \
62          63  Banana & Sweet Potato Organic Teething Wafers      92.0
62       21405                                            NaN       NaN

    department_id  order_id  add_to_cart_order  reordered
62           18.0       NaN                NaN        NaN
62            NaN       9.0                1.0        0.0
True
     product_id           product_name  aisle_id  department_id  order_id  \
601         602  Banana Chocolate Chip      52.0            1.0       NaN
601        5514                    NaN       NaN            NaN      72.0

     add_to_cart_order  reordered
601                NaN        NaN
601               11.0        0.0
True
      product_id    product_name  aisle_id  department_id  order_id  \
1399        1400  Banana Pudding       8.0            3.0       NaN
1399       46931             NaN       NaN            NaN     151.0

      add_to_cart_order  reordered
1399                NaN        NaN
1399                1.0        0.0
True
      product_id                                       product_name  aisle_id  \
1456        1457  Banana Protein Kefir Nonfat Cultured Milk Smoo...      31.0
1456       40310                                                NaN       NaN

      department_id  order_id  add_to_cart_order  reordered
1456            7.0       NaN                NaN        NaN
1456            NaN     161.0                1.0        1.0
True
      product_id              product_name  aisle_id  department_id  order_id  \
2010        2011  Banana Peach & Raspberry      92.0           18.0       NaN
2010       32784                       NaN       NaN            NaN     227.0

      add_to_cart_order  reordered
2010                NaN        NaN
2010                5.0        1.0
True
      product_id                 product_name  aisle_id  department_id  \
2188        2189  Banana Low-Fat Greek Yogurt     120.0           16.0
2188       22281                          NaN       NaN            NaN

      order_id  add_to_cart_order  reordered
2188       NaN                NaN        NaN
2188     243.0                1.0        0.0
True
      product_id                         product_name  aisle_id  \
4653        4654  Banana Nut Muffin & Quick Bread Mix     105.0
4653       45066                                  NaN       NaN

      department_id  order_id  add_to_cart_order  reordered
4653           13.0       NaN                NaN        NaN
4653            NaN     488.0                1.0        1.0
True
      product_id                                       product_name  aisle_id  \
8581        8582  Banana Vanilla Freeze Dried Yogurt & Fruit Snacks      92.0
8581       42372                                                NaN       NaN

      department_id  order_id  add_to_cart_order  reordered
8581           18.0       NaN                NaN        NaN
8581            NaN     891.0                8.0        0.0
True
      product_id              product_name  aisle_id  department_id  order_id  \
9102        9103  Banana Walnut Pound Cake      93.0            3.0       NaN
9102       40553                       NaN       NaN            NaN     944.0

      add_to_cart_order  reordered
9102                NaN        NaN
9102                2.0        0.0
True
       product_id                  product_name  aisle_id  department_id  \
10550       10551  Banana Bread Fruit & Nut Bar       3.0           19.0
10550       47766                           NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
10550       NaN                NaN        NaN
10550    1089.0                4.0        0.0
True
       product_id                  product_name  aisle_id  department_id  \
10895       10896  Banana Bam Bam Paleo Muffins      93.0            3.0
10895       22504                           NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
10895       NaN                NaN        NaN
10895    1125.0                5.0        0.0
True
       product_id                 product_name  aisle_id  department_id  \
11075       11076  Banana Nut Bread Energy Bar       3.0           19.0
11075        7632                          NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
11075       NaN                NaN        NaN
11075    1148.0               17.0        0.0
True
       product_id      product_name  aisle_id  department_id  order_id  \
11128       11129  Banana Bread Mix     105.0           13.0       NaN
11128       22935               NaN       NaN            NaN    1154.0

       add_to_cart_order  reordered
11128                NaN        NaN
11128                1.0        0.0
True
       product_id                 product_name  aisle_id  department_id  \
11166       11167  Banana Cinnamon & Cream Bar      37.0            1.0
11166       26604                          NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
11166       NaN                NaN        NaN
11166    1156.0                7.0        1.0
True
       product_id                              product_name  aisle_id  \
12650       12651  Banana Peanut Butter Greek Frozen Yogurt      37.0
12650       15730                                       NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
12650            1.0       NaN                NaN        NaN
12650            NaN    1308.0               12.0        0.0
True
       product_id             product_name  aisle_id  department_id  order_id  \
12953       12954  Banana Frozen Fruit Bar      37.0            1.0       NaN
12953       36070                      NaN       NaN            NaN    1348.0

       add_to_cart_order  reordered
12953                NaN        NaN
12953                8.0        0.0
True
       product_id  product_name  aisle_id  department_id  order_id  \
13017       13018  Banana Chips      50.0           19.0       NaN
13017        8204           NaN       NaN            NaN    1355.0

       add_to_cart_order  reordered
13017                NaN        NaN
13017                6.0        1.0
True
       product_id            product_name  aisle_id  department_id  order_id  \
13616       13617  Banana Split Ice Cream      37.0            1.0       NaN
13616       27086                     NaN       NaN            NaN    1424.0

       add_to_cart_order  reordered
13616                NaN        NaN
13616                3.0        1.0
True
       product_id                          product_name  aisle_id  \
14682       14683  Banana Nut Muffin Flavor Protein Bar       3.0
14682       32486                                   NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
14682           19.0       NaN                NaN        NaN
14682            NaN    1532.0               14.0        0.0
True
       product_id       product_name  aisle_id  department_id  order_id  \
14854       14855  Banana Snakaroons      61.0           19.0       NaN
14854       36929                NaN       NaN            NaN    1546.0

       add_to_cart_order  reordered
14854                NaN        NaN
14854                8.0        1.0
True
       product_id           product_name  aisle_id  department_id  order_id  \
14969       14970  Banana Creme Twinkies      61.0           19.0       NaN
14969       48364                    NaN       NaN            NaN    1553.0

       add_to_cart_order  reordered
14969                NaN        NaN
14969                1.0        1.0
True
       product_id                product_name  aisle_id  department_id  \
15223       15224  Banana Creme Protein Shake      65.0           11.0
15223       12341                         NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
15223       NaN                NaN        NaN
15223    1575.0               18.0        1.0
True
       product_id               product_name  aisle_id  department_id  \
16664       16665  Banana Bread Sprouted Bar       3.0           19.0
16664       21137                        NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
16664       NaN                NaN        NaN
16664    1752.0                7.0        1.0
True
       product_id                  product_name  aisle_id  department_id  \
16854       16855  Banana Dippers Banana Slices     116.0            1.0
16854       24852                           NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
16854       NaN                NaN        NaN
16854    1770.0                2.0        1.0
True
       product_id                                   product_name  aisle_id  \
19045       19046  Banana & Mango Organic Yogurt & Fruit Snacks       92.0
19045       22833                                            NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
19045           18.0       NaN                NaN        NaN
19045            NaN    2019.0                4.0        0.0
True
       product_id                                      product_name  aisle_id  \
19817       19818  Banana on the Bottom Greek Yogurt Low-Fat Yogurt     100.0
19817       31553                                               NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
19817           21.0       NaN                NaN        NaN
19817            NaN    2117.0                3.0        0.0
True
       product_id                    product_name  aisle_id  department_id  \
20464       20465  Banana Orange Medley Baby Food      92.0           18.0
20464        2537                             NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
20464       NaN                NaN        NaN
20464    2171.0               14.0        1.0
True
       product_id                       product_name  aisle_id  department_id  \
20822       20823  Banana Quick Bread and Muffin Mix     105.0           13.0
20822       24852                                NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
20822       NaN                NaN        NaN
20822    2209.0                1.0        1.0
True
       product_id                   product_name  aisle_id  department_id  \
20884       20885  Banana Puffs Cereal Snack Cup     100.0           21.0
20884       40198                            NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
20884       NaN                NaN        NaN
20884    2214.0                7.0        0.0
True
       product_id              product_name  aisle_id  department_id  \
22075       22076  Bananas Foster Ice Cream      37.0            1.0
22075       14057                       NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
22075       NaN                NaN        NaN
22075    2330.0                1.0        1.0
True
       product_id       product_name  aisle_id  department_id  order_id  \
24374       24375  Banana Nut Muffin      93.0            3.0       NaN
24374        2091                NaN       NaN            NaN    2548.0

       add_to_cart_order  reordered
24374                NaN        NaN
24374                8.0        0.0
True
       product_id product_name  aisle_id  department_id  order_id  \
24851       24852       Banana      24.0            4.0       NaN
24851       32689          NaN       NaN            NaN    2596.0

       add_to_cart_order  reordered
24851                NaN        NaN
24851               15.0        1.0
True
       product_id           product_name  aisle_id  department_id  order_id  \
25832       25833  Banana Nut Muffin Mix     105.0           13.0       NaN
25832       43640                    NaN       NaN            NaN    2694.0

       add_to_cart_order  reordered
25832                NaN        NaN
25832               42.0        0.0
True
       product_id                product_name  aisle_id  department_id  \
27386       27387  Banana Greek Nonfat Yogurt     120.0           16.0
27386       35140                         NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
27386       NaN                NaN        NaN
27386    2842.0               23.0        1.0
True
       product_id                              product_name  aisle_id  \
28192       28193  Banana Chocolate Chip Soft n' Chewy Bars       3.0
28192        4812                                       NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
28192           19.0       NaN                NaN        NaN
28192            NaN    2919.0               17.0        0.0
True
       product_id                                 product_name  aisle_id  \
28880       28881  Banana Cream Traditional Oikos Greek Yogurt     120.0
28880       39275                                          NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
28880           16.0       NaN                NaN        NaN
28880            NaN    2993.0                3.0        1.0
True
       product_id                        product_name  aisle_id  \
29122       29123  Bananas Natural Baby Food, Stage 1      92.0
29122       16668                                 NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
29122           18.0       NaN                NaN        NaN
29122            NaN    3021.0                1.0        1.0
True
       product_id                             product_name  aisle_id  \
30960       30961  Banana Chocolate Protein Juice Smoothie      31.0
30960       10070                                      NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
30960            7.0       NaN                NaN        NaN
30960            NaN    3203.0                3.0        1.0
True
       product_id       product_name  aisle_id  department_id  order_id  \
31555       31556  Banana Nut Cereal     121.0           14.0       NaN
31555       13166                NaN       NaN            NaN    3273.0

       add_to_cart_order  reordered
31555                NaN        NaN
31555                5.0        0.0
True
       product_id                       product_name  aisle_id  department_id  \
31848       31849  Banana Yogurt & Fruit Juice Blend      92.0           18.0
31848       16910                                NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
31848       NaN                NaN        NaN
31848    3299.0               21.0        0.0
True
       product_id      product_name  aisle_id  department_id  order_id  \
32245       32246  Banana Cream Pie       8.0            3.0       NaN
32245       47209               NaN       NaN            NaN    3347.0

       add_to_cart_order  reordered
32245                NaN        NaN
32245                3.0        1.0
True
       product_id                   product_name  aisle_id  department_id  \
32819       32820  Banana Nut Muffin Protein Bar       3.0           19.0
32819        9020                            NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
32819       NaN                NaN        NaN
32819    3425.0                1.0        0.0
True
       product_id                                  product_name  aisle_id  \
33034       33035  Banana, Orange & Pineapple Baby Food Stage 2      92.0
33034        4799                                           NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
33034           18.0       NaN                NaN        NaN
33034            NaN    3446.0                3.0        1.0
True
       product_id                          product_name  aisle_id  \
35419       35420  Banana Bites, Chewy, Organic Coconut      50.0
35419        5322                                   NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
35419           19.0       NaN                NaN        NaN
35419            NaN    3704.0                2.0        1.0
True
       product_id                               product_name  aisle_id  \
36975       36976  Bananas + Apples Puree  2 (from 6 Months)      92.0
36975       45176                                        NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
36975           18.0       NaN                NaN        NaN
36975            NaN    3884.0                3.0        1.0
True
       product_id        product_name  aisle_id  department_id  order_id  \
37395       37396  Banana Nut Muffins      93.0            3.0       NaN
37395         365                 NaN       NaN            NaN    3923.0

       add_to_cart_order  reordered
37395                NaN        NaN
37395               24.0        1.0
True
       product_id                 product_name  aisle_id  department_id  \
38337       38338  Banana 3.5 oz Cups 4 Yogurt      92.0           18.0
38337       22793                          NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
38337       NaN                NaN        NaN
38337    4032.0                5.0        0.0
True
       product_id         product_name  aisle_id  department_id  order_id  \
38990       38991  Banana Nut Chia Bar       3.0           19.0       NaN
38990       47087                  NaN       NaN            NaN    4105.0

       add_to_cart_order  reordered
38990                NaN        NaN
38990                2.0        1.0
True
       product_id product_name  aisle_id  department_id  order_id  \
39275       39276      Bananas      24.0            4.0       NaN
39275       44479          NaN       NaN            NaN    4135.0

       add_to_cart_order  reordered
39275                NaN        NaN
39275                7.0        1.0
True
       product_id                  product_name  aisle_id  department_id  \
39286       39287  Banana Coconut Fruit Leather      78.0           19.0
39286       46526                           NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
39286       NaN                NaN        NaN
39286    4135.0               18.0        1.0
True
       product_id          product_name  aisle_id  department_id  order_id  \
39630       39631  Banana Nonfat Yogurt     100.0           21.0       NaN
39630        4942                   NaN       NaN            NaN    4170.0

       add_to_cart_order  reordered
39630                NaN        NaN
39630                1.0        0.0
True
       product_id               product_name  aisle_id  department_id  \
39643       39644  Banana Nut Nourishing Bar       3.0           19.0
39643       36117                        NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
39643       NaN                NaN        NaN
39643    4171.0                7.0        1.0
True
       product_id                 product_name  aisle_id  department_id  \
40214       40215  Banana Cinnamon Frozen Pops      37.0            1.0
40214        5918                          NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
40214       NaN                NaN        NaN
40214    4242.0                5.0        1.0
True
       product_id                  product_name  aisle_id  department_id  \
40233       40234  Banana Cream Instant Pudding     105.0           13.0
40233       24852                           NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
40233       NaN                NaN        NaN
40233    4243.0               16.0        0.0
True
       product_id                   product_name  aisle_id  department_id  \
40709       40710  Banana Chocolate Chip Muffins      58.0            1.0
40709        5212                            NaN       NaN            NaN


# **FOOGLE**
*The search engine for food*

In [55]:
Search = 'Banana' #@param {type:"string"}
print(re(search_product(Search)))

True
    product_id                                   product_name  aisle_id  \
62          63  Banana & Sweet Potato Organic Teething Wafers      92.0
62       21405                                            NaN       NaN

    department_id  order_id  add_to_cart_order  reordered
62           18.0       NaN                NaN        NaN
62            NaN       9.0                1.0        0.0
True
     product_id           product_name  aisle_id  department_id  order_id  \
601         602  Banana Chocolate Chip      52.0            1.0       NaN
601        5514                    NaN       NaN            NaN      72.0

     add_to_cart_order  reordered
601                NaN        NaN
601               11.0        0.0
True
      product_id    product_name  aisle_id  department_id  order_id  \
1399        1400  Banana Pudding       8.0            3.0       NaN
1399       46931             NaN       NaN            NaN     151.0

      add_to_cart_order  reordered
1399                NaN        NaN
1399                1.0        0.0
True
      product_id                                       product_name  aisle_id  \
1456        1457  Banana Protein Kefir Nonfat Cultured Milk Smoo...      31.0
1456       40310                                                NaN       NaN

      department_id  order_id  add_to_cart_order  reordered
1456            7.0       NaN                NaN        NaN
1456            NaN     161.0                1.0        1.0
True
      product_id              product_name  aisle_id  department_id  order_id  \
2010        2011  Banana Peach & Raspberry      92.0           18.0       NaN
2010       32784                       NaN       NaN            NaN     227.0

      add_to_cart_order  reordered
2010                NaN        NaN
2010                5.0        1.0
True
      product_id                 product_name  aisle_id  department_id  \
2188        2189  Banana Low-Fat Greek Yogurt     120.0           16.0
2188       22281                          NaN       NaN            NaN

      order_id  add_to_cart_order  reordered
2188       NaN                NaN        NaN
2188     243.0                1.0        0.0
True
      product_id                         product_name  aisle_id  \
4653        4654  Banana Nut Muffin & Quick Bread Mix     105.0
4653       45066                                  NaN       NaN

      department_id  order_id  add_to_cart_order  reordered
4653           13.0       NaN                NaN        NaN
4653            NaN     488.0                1.0        1.0
True
      product_id                                       product_name  aisle_id  \
8581        8582  Banana Vanilla Freeze Dried Yogurt & Fruit Snacks      92.0
8581       42372                                                NaN       NaN

      department_id  order_id  add_to_cart_order  reordered
8581           18.0       NaN                NaN        NaN
8581            NaN     891.0                8.0        0.0
True
      product_id              product_name  aisle_id  department_id  order_id  \
9102        9103  Banana Walnut Pound Cake      93.0            3.0       NaN
9102       40553                       NaN       NaN            NaN     944.0

      add_to_cart_order  reordered
9102                NaN        NaN
9102                2.0        0.0
True
       product_id                  product_name  aisle_id  department_id  \
10550       10551  Banana Bread Fruit & Nut Bar       3.0           19.0
10550       47766                           NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
10550       NaN                NaN        NaN
10550    1089.0                4.0        0.0
True
       product_id                  product_name  aisle_id  department_id  \
10895       10896  Banana Bam Bam Paleo Muffins      93.0            3.0
10895       22504                           NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
10895       NaN                NaN        NaN
10895    1125.0                5.0        0.0
True
       product_id                 product_name  aisle_id  department_id  \
11075       11076  Banana Nut Bread Energy Bar       3.0           19.0
11075        7632                          NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
11075       NaN                NaN        NaN
11075    1148.0               17.0        0.0
True
       product_id      product_name  aisle_id  department_id  order_id  \
11128       11129  Banana Bread Mix     105.0           13.0       NaN
11128       22935               NaN       NaN            NaN    1154.0

       add_to_cart_order  reordered
11128                NaN        NaN
11128                1.0        0.0
True
       product_id                 product_name  aisle_id  department_id  \
11166       11167  Banana Cinnamon & Cream Bar      37.0            1.0
11166       26604                          NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
11166       NaN                NaN        NaN
11166    1156.0                7.0        1.0
True
       product_id                              product_name  aisle_id  \
12650       12651  Banana Peanut Butter Greek Frozen Yogurt      37.0
12650       15730                                       NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
12650            1.0       NaN                NaN        NaN
12650            NaN    1308.0               12.0        0.0
True
       product_id             product_name  aisle_id  department_id  order_id  \
12953       12954  Banana Frozen Fruit Bar      37.0            1.0       NaN
12953       36070                      NaN       NaN            NaN    1348.0

       add_to_cart_order  reordered
12953                NaN        NaN
12953                8.0        0.0
True
       product_id  product_name  aisle_id  department_id  order_id  \
13017       13018  Banana Chips      50.0           19.0       NaN
13017        8204           NaN       NaN            NaN    1355.0

       add_to_cart_order  reordered
13017                NaN        NaN
13017                6.0        1.0
True
       product_id            product_name  aisle_id  department_id  order_id  \
13616       13617  Banana Split Ice Cream      37.0            1.0       NaN
13616       27086                     NaN       NaN            NaN    1424.0

       add_to_cart_order  reordered
13616                NaN        NaN
13616                3.0        1.0
True
       product_id                          product_name  aisle_id  \
14682       14683  Banana Nut Muffin Flavor Protein Bar       3.0
14682       32486                                   NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
14682           19.0       NaN                NaN        NaN
14682            NaN    1532.0               14.0        0.0
True
       product_id       product_name  aisle_id  department_id  order_id  \
14854       14855  Banana Snakaroons      61.0           19.0       NaN
14854       36929                NaN       NaN            NaN    1546.0

       add_to_cart_order  reordered
14854                NaN        NaN
14854                8.0        1.0
True
       product_id           product_name  aisle_id  department_id  order_id  \
14969       14970  Banana Creme Twinkies      61.0           19.0       NaN
14969       48364                    NaN       NaN            NaN    1553.0

       add_to_cart_order  reordered
14969                NaN        NaN
14969                1.0        1.0
True
       product_id                product_name  aisle_id  department_id  \
15223       15224  Banana Creme Protein Shake      65.0           11.0
15223       12341                         NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
15223       NaN                NaN        NaN
15223    1575.0               18.0        1.0
True
       product_id               product_name  aisle_id  department_id  \
16664       16665  Banana Bread Sprouted Bar       3.0           19.0
16664       21137                        NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
16664       NaN                NaN        NaN
16664    1752.0                7.0        1.0
True
       product_id                  product_name  aisle_id  department_id  \
16854       16855  Banana Dippers Banana Slices     116.0            1.0
16854       24852                           NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
16854       NaN                NaN        NaN
16854    1770.0                2.0        1.0
True
       product_id                                   product_name  aisle_id  \
19045       19046  Banana & Mango Organic Yogurt & Fruit Snacks       92.0
19045       22833                                            NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
19045           18.0       NaN                NaN        NaN
19045            NaN    2019.0                4.0        0.0
True
       product_id                                      product_name  aisle_id  \
19817       19818  Banana on the Bottom Greek Yogurt Low-Fat Yogurt     100.0
19817       31553                                               NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
19817           21.0       NaN                NaN        NaN
19817            NaN    2117.0                3.0        0.0
True
       product_id                    product_name  aisle_id  department_id  \
20464       20465  Banana Orange Medley Baby Food      92.0           18.0
20464        2537                             NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
20464       NaN                NaN        NaN
20464    2171.0               14.0        1.0
True
       product_id                       product_name  aisle_id  department_id  \
20822       20823  Banana Quick Bread and Muffin Mix     105.0           13.0
20822       24852                                NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
20822       NaN                NaN        NaN
20822    2209.0                1.0        1.0
True
       product_id                   product_name  aisle_id  department_id  \
20884       20885  Banana Puffs Cereal Snack Cup     100.0           21.0
20884       40198                            NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
20884       NaN                NaN        NaN
20884    2214.0                7.0        0.0
True
       product_id              product_name  aisle_id  department_id  \
22075       22076  Bananas Foster Ice Cream      37.0            1.0
22075       14057                       NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
22075       NaN                NaN        NaN
22075    2330.0                1.0        1.0
True
       product_id       product_name  aisle_id  department_id  order_id  \
24374       24375  Banana Nut Muffin      93.0            3.0       NaN
24374        2091                NaN       NaN            NaN    2548.0

       add_to_cart_order  reordered
24374                NaN        NaN
24374                8.0        0.0
True
       product_id product_name  aisle_id  department_id  order_id  \
24851       24852       Banana      24.0            4.0       NaN
24851       32689          NaN       NaN            NaN    2596.0

       add_to_cart_order  reordered
24851                NaN        NaN
24851               15.0        1.0
True
       product_id           product_name  aisle_id  department_id  order_id  \
25832       25833  Banana Nut Muffin Mix     105.0           13.0       NaN
25832       43640                    NaN       NaN            NaN    2694.0

       add_to_cart_order  reordered
25832                NaN        NaN
25832               42.0        0.0
True
       product_id                product_name  aisle_id  department_id  \
27386       27387  Banana Greek Nonfat Yogurt     120.0           16.0
27386       35140                         NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
27386       NaN                NaN        NaN
27386    2842.0               23.0        1.0
True
       product_id                              product_name  aisle_id  \
28192       28193  Banana Chocolate Chip Soft n' Chewy Bars       3.0
28192        4812                                       NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
28192           19.0       NaN                NaN        NaN
28192            NaN    2919.0               17.0        0.0
True
       product_id                                 product_name  aisle_id  \
28880       28881  Banana Cream Traditional Oikos Greek Yogurt     120.0
28880       39275                                          NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
28880           16.0       NaN                NaN        NaN
28880            NaN    2993.0                3.0        1.0
True
       product_id                        product_name  aisle_id  \
29122       29123  Bananas Natural Baby Food, Stage 1      92.0
29122       16668                                 NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
29122           18.0       NaN                NaN        NaN
29122            NaN    3021.0                1.0        1.0
True
       product_id                             product_name  aisle_id  \
30960       30961  Banana Chocolate Protein Juice Smoothie      31.0
30960       10070                                      NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
30960            7.0       NaN                NaN        NaN
30960            NaN    3203.0                3.0        1.0
True
       product_id       product_name  aisle_id  department_id  order_id  \
31555       31556  Banana Nut Cereal     121.0           14.0       NaN
31555       13166                NaN       NaN            NaN    3273.0

       add_to_cart_order  reordered
31555                NaN        NaN
31555                5.0        0.0
True
       product_id                       product_name  aisle_id  department_id  \
31848       31849  Banana Yogurt & Fruit Juice Blend      92.0           18.0
31848       16910                                NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
31848       NaN                NaN        NaN
31848    3299.0               21.0        0.0
True
       product_id      product_name  aisle_id  department_id  order_id  \
32245       32246  Banana Cream Pie       8.0            3.0       NaN
32245       47209               NaN       NaN            NaN    3347.0

       add_to_cart_order  reordered
32245                NaN        NaN
32245                3.0        1.0
True
       product_id                   product_name  aisle_id  department_id  \
32819       32820  Banana Nut Muffin Protein Bar       3.0           19.0
32819        9020                            NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
32819       NaN                NaN        NaN
32819    3425.0                1.0        0.0
True
       product_id                                  product_name  aisle_id  \
33034       33035  Banana, Orange & Pineapple Baby Food Stage 2      92.0
33034        4799                                           NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
33034           18.0       NaN                NaN        NaN
33034            NaN    3446.0                3.0        1.0
True
       product_id                          product_name  aisle_id  \
35419       35420  Banana Bites, Chewy, Organic Coconut      50.0
35419        5322                                   NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
35419           19.0       NaN                NaN        NaN
35419            NaN    3704.0                2.0        1.0
True
       product_id                               product_name  aisle_id  \
36975       36976  Bananas + Apples Puree  2 (from 6 Months)      92.0
36975       45176                                        NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
36975           18.0       NaN                NaN        NaN
36975            NaN    3884.0                3.0        1.0
True
       product_id        product_name  aisle_id  department_id  order_id  \
37395       37396  Banana Nut Muffins      93.0            3.0       NaN
37395         365                 NaN       NaN            NaN    3923.0

       add_to_cart_order  reordered
37395                NaN        NaN
37395               24.0        1.0
True
       product_id                 product_name  aisle_id  department_id  \
38337       38338  Banana 3.5 oz Cups 4 Yogurt      92.0           18.0
38337       22793                          NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
38337       NaN                NaN        NaN
38337    4032.0                5.0        0.0
True
       product_id         product_name  aisle_id  department_id  order_id  \
38990       38991  Banana Nut Chia Bar       3.0           19.0       NaN
38990       47087                  NaN       NaN            NaN    4105.0

       add_to_cart_order  reordered
38990                NaN        NaN
38990                2.0        1.0
True
       product_id product_name  aisle_id  department_id  order_id  \
39275       39276      Bananas      24.0            4.0       NaN
39275       44479          NaN       NaN            NaN    4135.0

       add_to_cart_order  reordered
39275                NaN        NaN
39275                7.0        1.0
True
       product_id                  product_name  aisle_id  department_id  \
39286       39287  Banana Coconut Fruit Leather      78.0           19.0
39286       46526                           NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
39286       NaN                NaN        NaN
39286    4135.0               18.0        1.0
True
       product_id          product_name  aisle_id  department_id  order_id  \
39630       39631  Banana Nonfat Yogurt     100.0           21.0       NaN
39630        4942                   NaN       NaN            NaN    4170.0

       add_to_cart_order  reordered
39630                NaN        NaN
39630                1.0        0.0
True
       product_id               product_name  aisle_id  department_id  \
39643       39644  Banana Nut Nourishing Bar       3.0           19.0
39643       36117                        NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
39643       NaN                NaN        NaN
39643    4171.0                7.0        1.0
True
       product_id                 product_name  aisle_id  department_id  \
40214       40215  Banana Cinnamon Frozen Pops      37.0            1.0
40214        5918                          NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
40214       NaN                NaN        NaN
40214    4242.0                5.0        1.0
True
       product_id                  product_name  aisle_id  department_id  \
40233       40234  Banana Cream Instant Pudding     105.0           13.0
40233       24852                           NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
40233       NaN                NaN        NaN
40233    4243.0               16.0        0.0
True
       product_id                   product_name  aisle_id  department_id  \
40709       40710  Banana Chocolate Chip Muffins      58.0            1.0
40709        5212                            NaN       NaN            NaN


In [21]:
Search = "Bag of Organic Bananas" #@param {type:"string"}
print(re(search_product(Search)))

True
       product_id            product_name  aisle_id  department_id  order_id  \
13175       13176  Bag of Organic Bananas      24.0            4.0       NaN
13175       38164                     NaN       NaN            NaN    1371.0

       add_to_cart_order  reordered
13175                NaN        NaN
13175               14.0        0.0
None

In [22]:
Search = 'Organic Strawberries' #@param {type:"string"}
print(re(search_product(Search)))

True
       product_id                                       product_name  \
14804       14805  Organic Strawberries & Wild Strawberries Fruit...
14804       15083                                                NaN

       aisle_id  department_id  order_id  add_to_cart_order  reordered
14804      88.0           13.0       NaN                NaN        NaN
14804       NaN            NaN    1541.0                3.0        1.0
True
       product_id          product_name  aisle_id  department_id  order_id  \
21136       21137  Organic Strawberries      24.0            4.0       NaN
21136       48057                   NaN       NaN            NaN    2240.0

       add_to_cart_order  reordered
21136                NaN        NaN
21136                9.0        0.0
True
       product_id                                       product_name  \
42900       42901  Organic Strawberries & Cream Flavor Nutritiona...
42900       13853                                                NaN

       aisle_id  department_id  order_id  add_to_cart_order  reordered
42900      65.0           11.0       NaN                NaN        NaN
42900       NaN            NaN    4537.0                6.0        0.0
None

In [23]:
Search = 'Organic Baby Spinach' #@param {type:"string"}
print(re(search_product(Search)))

True
       product_id          product_name  aisle_id  department_id  order_id  \
21902       21903  Organic Baby Spinach     123.0            4.0       NaN
21902       14888                   NaN       NaN            NaN    2314.0

       add_to_cart_order  reordered
21902                NaN        NaN
21902                2.0        0.0
True
       product_id                product_name  aisle_id  department_id  \
25930       25931  Organic Baby Spinach Salad     123.0            4.0
25930       36944                         NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
25930       NaN                NaN        NaN
25930    2703.0               15.0        1.0
None

In [24]:
Search = 'Organic Hass Avocado' #@param {type:"string"}
print(re(search_product(Search)))

True
      product_id              product_name  aisle_id  department_id  order_id  \
1373        1374  Organic Hass Avocado Bag      83.0            4.0       NaN
1373       23537                       NaN       NaN            NaN     147.0

      add_to_cart_order  reordered
1373                NaN        NaN
1373                7.0        0.0
True
       product_id          product_name  aisle_id  department_id  order_id  \
47208       47209  Organic Hass Avocado      24.0            4.0       NaN
47208        5876                   NaN       NaN            NaN    4987.0

       add_to_cart_order  reordered
47208                NaN        NaN
47208               10.0        1.0
None

In [25]:
Search = 'Organic Avocado' #@param {type:"string"}
print(re(search_product(Search)))

True
      product_id      product_name  aisle_id  department_id  order_id  \
6217        6218  Organic Avocados      83.0            4.0       NaN
6217       23383               NaN       NaN            NaN     647.0

      add_to_cart_order  reordered
6217                NaN        NaN
6217                1.0        1.0
True
      product_id              product_name  aisle_id  department_id  order_id  \
9188        9189  Organic Avocados 5 Count      32.0            4.0       NaN
9188       24852                       NaN       NaN            NaN     951.0

      add_to_cart_order  reordered
9188                NaN        NaN
9188                1.0        1.0
True
       product_id         product_name  aisle_id  department_id  order_id  \
25821       25822  Organic Avocado Oil      19.0           13.0       NaN
25821        5438                  NaN       NaN            NaN    2694.0

       add_to_cart_order  reordered
25821                NaN        NaN
25821               31.0        0.0
True
       product_id                   product_name  aisle_id  department_id  \
39000       39001  Organic Avocados Hass Variety      24.0            4.0
39000        6347                            NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
39000       NaN                NaN        NaN
39000    4106.0                1.0        0.0
True
       product_id     product_name  aisle_id  department_id  order_id  \
47765       47766  Organic Avocado      24.0            4.0       NaN
47765       30391              NaN       NaN            NaN    5048.0

       add_to_cart_order  reordered
47765                NaN        NaN
47765                5.0        1.0
None

In [26]:
Search = 'Large Lemon' #@param {type:"string"}
print(re(search_product(Search)))

True
       product_id product_name  aisle_id  department_id  order_id  \
47625       47626  Large Lemon      24.0            4.0       NaN
47625       18656          NaN       NaN            NaN    5034.0

       add_to_cart_order  reordered
47625                NaN        NaN
47625                2.0        0.0
None

In [27]:
Search = 'Strawberries' #@param {type:"string"}
print(re(search_product(Search)))

True
       product_id                                 product_name  aisle_id  \
15602       15603  Strawberries & Cream Meal Replacement Shake      65.0
15602       24852                                          NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
15602           11.0       NaN                NaN        NaN
15602            NaN    1623.0                8.0        1.0
True
       product_id               product_name  aisle_id  department_id  \
16498       16499  Strawberries & Cream Bars      37.0            1.0
16498       12797                        NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
16498       NaN                NaN        NaN
16498    1729.0               11.0        0.0
True
       product_id  product_name  aisle_id  department_id  order_id  \
16796       16797  Strawberries      24.0            4.0       NaN
16796       19311           NaN       NaN            NaN    1765.0

       add_to_cart_order  reordered
16796                NaN        NaN
16796               10.0        1.0
True
       product_id       product_name  aisle_id  department_id  order_id  \
22100       22101  Strawberries 1 Lb      24.0            4.0       NaN
22100       40338                NaN       NaN            NaN    2331.0

       add_to_cart_order  reordered
22100                NaN        NaN
22100                1.0        1.0
True
       product_id            product_name  aisle_id  department_id  order_id  \
35183       35184  Strawberries Clamshell      24.0            4.0       NaN
35183       31528                     NaN       NaN            NaN    3679.0

       add_to_cart_order  reordered
35183                NaN        NaN
35183                5.0        1.0
True
       product_id        product_name  aisle_id  department_id  order_id  \
38849       38850  Strawberries Whole     116.0            1.0       NaN
38849        2086                 NaN       NaN            NaN    4088.0

       add_to_cart_order  reordered
38849                NaN        NaN
38849                6.0        0.0
True
       product_id                          product_name  aisle_id  \
44928       44929  Strawberries & Cream Instant Oatmeal     130.0
44928       27663                                   NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
44928           14.0       NaN                NaN        NaN
44928            NaN    4739.0                5.0        1.0
True
       product_id               product_name  aisle_id  department_id  \
49072       49073  Strawberries Long Stemmed      24.0            4.0
49072       16981                        NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
49072       NaN                NaN        NaN
49072    5194.0               11.0        0.0
None

In [28]:
Search = 'Limes' #@param {type:"string"}
print(re(search_product(Search)))

True
       product_id product_name  aisle_id  department_id  order_id  \
26208       26209        Limes      24.0            4.0       NaN
26208       48442          NaN       NaN            NaN    2730.0

       add_to_cart_order  reordered
26208                NaN        NaN
26208                2.0        0.0
None

In [29]:
Search = 'Organic Whole Milk' #@param {type:"string"}
print(re(search_product(Search)))

True
      product_id                              product_name  aisle_id  \
3630        3631  Organic Whole Milk French Vanilla Yogurt     120.0
3630       30233                                       NaN       NaN

      department_id  order_id  add_to_cart_order  reordered
3630           16.0       NaN                NaN        NaN
3630            NaN     384.0                1.0        1.0
True
      product_id                    product_name  aisle_id  department_id  \
6961        6962  Organic Whole Milk Plain Kefir      84.0           16.0
6961       43122                             NaN       NaN            NaN

      order_id  add_to_cart_order  reordered
6961       NaN                NaN        NaN
6961     725.0                2.0        1.0
True
      product_id                           product_name  aisle_id  \
9650        9651  Organic Whole Milk Berry Patch Yogurt     120.0
9650       47766                                    NaN       NaN

      department_id  order_id  add_to_cart_order  reordered
9650           16.0       NaN                NaN        NaN
9650            NaN     993.0                3.0        1.0
True
       product_id                           product_name  aisle_id  \
18979       18980  Organic Whole Milk Plain Greek Yogurt     120.0
18979       34993                                    NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
18979           16.0       NaN                NaN        NaN
18979            NaN    2012.0                2.0        1.0
True
       product_id               product_name  aisle_id  department_id  \
19818       19819  Organic Whole Milk Yogurt     120.0           16.0
19818       24852                        NaN       NaN            NaN

       order_id  add_to_cart_order  reordered
19818       NaN                NaN        NaN
19818    2117.0                4.0        1.0
True
       product_id                         product_name  aisle_id  \
20081       20082  Organic Whole Milk with DHA Omega-3      84.0
20081        6948                                  NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
20081           16.0       NaN                NaN        NaN
20081            NaN    2140.0                6.0        1.0
True
       product_id                                      product_name  aisle_id  \
22961       22962  Organic Whole Milk Cream On The Top Plain Yogurt     120.0
22961       23695                                               NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
22961           16.0       NaN                NaN        NaN
22961            NaN    2409.0                2.0        1.0
True
       product_id                         product_name  aisle_id  \
25878       25879  Organic Whole Milk Strawberry Kefir      84.0
25878       35535                                  NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
25878           16.0       NaN                NaN        NaN
25878            NaN    2698.0               12.0        1.0
True
       product_id        product_name  aisle_id  department_id  order_id  \
27844       27845  Organic Whole Milk      84.0           16.0       NaN
27844       47601                 NaN       NaN            NaN    2884.0

       add_to_cart_order  reordered
27844                NaN        NaN
27844                8.0        1.0
True
       product_id                           product_name  aisle_id  \
31036       31037  Organic Whole Milk Lemon Greek Yogurt     120.0
31036       19906                                    NaN       NaN

       department_id  order_id  add_to_cart_order  reordered
31036           16.0       NaN                NaN        NaN
31036            NaN    3210.0               17.0        1.0
True
       product_id                                       product_name  \
35933       35934  Organic Whole Milk Yogurt Tubes Very Vanilla B...
35933       42768                                                NaN

       aisle_id  department_id  order_id  add_to_cart_order  reordered
35933     100.0           21.0       NaN                NaN        NaN
35933       NaN            NaN    3760.0               23.0        0.0
True
       product_id                                       product_name  \
38451       38452  Organic Whole Milk Washington Black Cherry Yogurt
38451       38579                                                NaN

       aisle_id  department_id  order_id  add_to_cart_order  reordered
38451     100.0           21.0       NaN                NaN        NaN
38451       NaN            NaN    4040.0                2.0        1.0
True
       product_id                                       product_name  \
38543       38544  Organic Whole Milk Strawberry Beet Berry Yogur...
38543       36425                                                NaN

       aisle_id  department_id  order_id  add_to_cart_order  reordered
38543     120.0           16.0       NaN                NaN        NaN
38543       NaN            NaN    4056.0                9.0        1.0
True
       product_id                                       product_name  \
39899       39900  Organic Whole Milk Yogurt Tubes Berry Patch & ...
39899       36735                                                NaN

       aisle_id  department_id  order_id  add_to_cart_order  reordered
39899     100.0           21.0       NaN                NaN        NaN
39899       NaN            NaN    4206.0                7.0        1.0
None

## Reshape Data Section

- Replicate the lesson code. Remember, if you haven't followed along typing out what we did during lecture, do that now to get more repetition with the syntax.
- Take table 2 (the transpose of table 1) and practice changing it into Tidy format and back again. You should not use the transpose operation anywhere in this code:
 - Table 2 --> Tidy
 - Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [6]:
import pandas as pd
import numpy as np

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

table2

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

In [11]:
reset = table2.reset_index()
tidy = reset.melt(id_vars='index')
tidy

        index      variable  value
0  treatmenta    John Smith    NaN
1  treatmentb    John Smith    2.0
2  treatmenta      Jane Doe   16.0
3  treatmentb      Jane Doe   11.0
4  treatmenta  Mary Johnson    3.0
5  treatmentb  Mary Johnson    1.0

In [12]:
piviot = tidy.pivot_table(index='index', columns='variable', values='value')
piviot

variable    Jane Doe  John Smith  Mary Johnson
index
treatmenta      16.0         NaN           3.0
treatmentb      11.0         2.0           1.0

In [8]:
import seaborn as sns
flights = sns.load_dataset('flights')
flights

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
..    ...        ...         ...
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

In [9]:
flightsN = flights.pivot_table(index='year', columns='month', values='passengers')
flightsN
# cool

month  January  February  March  April  ...  September  October  November  December
year                                    ...
1949       112       118    132    129  ...        136      119       104       118
1950       115       126    141    135  ...        158      133       114       140
1951       145       150    178    163  ...        184      162       146       166
1952       171       180    193    181  ...        209      191       172       194
1953       196       196    236    235  ...        237      211       180       201
1954       204       188    235    227  ...        259      229       203       229
1955       242       233    267    269  ...        312      274       237       278
1956       284       277    317    313  ...        355      306       271       306
1957       315       301    356    348  ...        404      347       305       336
1958       340       318    362    348  ...        404      359       310       337
1959       360       342    406    396  ...        463      407       362       405
1960       417       391    419    461  ...        508      461       390       432

[12 rows x 12 columns]